{escalus_users, [
    {alice, [
        {username, <<"alice">>},
        {server, <<"localhost">>},
        {password, <<"makota">>}]},
    {bob, [
        {username, <<"bob">>},
        {server, <<"localhost">>},
        {password, <<"bobcat">>}]}
]}.
%% FIXME
{ejabberd_node, ejabberd@localhost}.
{ejabberd_cookie, ejabberd}.
