%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

%%
%% This test configuration is used for testing escalus
%% against a running MongooseIM server

%% the Erlang node name of tested ejabberd/MongooseIM
{ejabberd_node, 'mongooseim@localhost'}.
{ejabberd_cookie, ejabberd}.

%% the main XMPP domain served by the tested ejabberd/MongooseIM
{ejabberd_domain, <<"localhost">>}.

%% the server host name or ip addres
{ejabberd_addr, <<"127.0.0.1">>}.
{ejabberd_secondary_domain, <<"localhost.bis">>}.
{ejabberd_metrics_rest_port, 5280}.
{ejabberd_string_format, bin}.

{ejabberd_service_port,8888}.
{ejabberd_service_password, <<"secret">>}.

{escalus_users, [
                 {alice, [
                          {username, <<"alice">>},
                          {server, <<"localhost">>},
                          {password, <<"makota">>},
                          {compression, <<"zlib">>}]},
                 {bob, [
                        {username, <<"bob">>},
                        {server, <<"localhost">>},
                        {password, <<"makrolika">>},
                        {starttls, optional}]},

                 {alice_sm, [
                             {username, <<"alice_sm">>},
                             {server, <<"localhost">>},
                             {password, <<"super-secret">>},
                             {stream_management, true}
                             %% {manual_ack, true} %% uncomment to prevent automatic
                                                   %% ack sending by escalus_tcp

                             ]},
                 {bob_sm, [
                           {username, <<"bob_sm">>},
                           {server, <<"localhost">>},
                           {password, <<"hyper-secret">>},
                           {stream_management, true}
                          ]}
                ]}.

%% vim: ft=erlang

