{erl_opts, [debug_info,
            warn_missing_spec,
            {i, [".", "include"]}
           ]}.

{require_min_otp_vsn, "21"}.

{deps, [
        {exml, "3.2.2", {pkg, hexml}},
        {base16, "2.0.1"},
        {meck, "0.9.2"},
        {bbmustache, "1.12.2"},
        {uuid, "2.0.5", {pkg, uuid_erl}},
        {gun, "2.0.0-rc.2"},
        {worker_pool, "6.0.1"},
        {fast_tls, "1.1.16"},
        {fast_scram, "0.4.4"}
]}.

%% To override the plugin as installed by worker_pool
{plugins,
 [{rebar3_codecov, "0.3.0"}]}.

{relx, [{release, {escalus, "0.0.1"},
         [escalus]},
        {dev_mode, true},
        {sys_config, "./sys.config"},
        {include_erts, false}
       ]}.
{eunit_compile_opts, [{d,'EUNIT_TEST',true}]}.
{ct_opts, [{config, "test/test.config"}]}.
{dist_node, [
             {setcookie, 'ejabberd'},
             {sname, 'rebar3ct'}
            ]}.
