{erl_opts, [debug_info,
            warn_missing_spec,
            {i, [".", "include"]}
           ]}.

{require_otp_vsn, "(^1[89])|^20"}.

{deps, [
        {exml, {git, "https://github.com/esl/exml.git", {ref, "d365533"}}},
        {base16, {git, "https://github.com/goj/base16.git", {ref, "ec420aa"}}},
        {fusco, {git, "https://github.com/esl/fusco.git", {ref, "0a428471"}}},
        {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
        {mustache, {git, "https://github.com/mojombo/mustache.erl.git", {ref, "d0246fe"}}},
        {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.7.1"}}},
        {cowlib, {git, "https://github.com/ninenines/cowlib.git", {ref, "e4da207"}}},
        {gun, {git, "https://github.com/ninenines/gun.git", {ref, "02fa5f3"}}}
]}.
{relx, [{release, {escalus, "0.0.1"},
         [escalus]},
        {dev_mode, true},
        {sys_config, "./sys.config"},
        {include_erts, false}
       ]}.
{eunit_compile_opts, [{d,'EUNIT_TEST',true}]}.
{ct_opts, [{config, "test/test.config"}]}.
{dist_node, [
             {setcookie, 'ejabberd'},
             {sname, 'rebar3ct'}
            ]}.
